/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

a,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.sectionmt {
  padding: 48px 0;
}

.title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: 'Pacifico', cursive;
}

.title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

/* Light Theme */
#myBody {
  background-color: white;
}

#switchButton {
  background-color: white;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: black;
  color: white;
}

.dark #switchButton {
  background-color: white;
}

.dark #switchButton .fa-sun {
  display: block;
  color: black;
}

.dark #switchButton .fa-moon {
  display: none;
}


/* HEADER */
.header__banner {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpeg);
  background-size: cover;
  background-position: initial;
  min-height: 700px;
  background-attachment: fixed;
}

.header__centent {
  padding: 40px 0 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  grid-gap: 20px;
}

.header__right {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  gap: 15px;
  align-items: center;
}

h1 a.logo__diner {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search__bar {
  display: flex;
}

.search__relative {
  position: relative;
  flex: 1;
}

#home .form-control {
  box-shadow: none;
  border-color: transparent;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: rgb(22 28 45 / 70%);
  border: none;
  font-weight: 400;

}

.nav__bars-btn {
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 1.95rem;
  text-align: center;
  line-height: 40px;
  margin: 0;
}

.search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
  color: rgb(91 96 108);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(6 3 0 / 77%);
  display: none;
  animation: menu linear 0.3s;
  transition: all 0.5s;
  z-index: 100;
}

.overlay__close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #ff6600;
  border-radius: 5px;
  font-size: 18px;
}

.overlay nav {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay ul {
  display: block;
  height: 100%;
}

.overlay li {
  line-height: 48px;
}

.overlay ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: block;
  transition: all 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #ff6600;
}

.nav__input:checked~.overlay {
  display: block;
  animation: menu linear 0.3s;
}

@keyframes menu {
  0% {
    transform: scale(0.2);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.header__text {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.header__text h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  color: #fff;
}

.header__text p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.header__text button {
  padding: 15px 45px;
  margin: 32px 8px 0 0;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: all .5s;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__text button:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}

.btn__white i {
  margin-left: 8px;
  font-weight: bold;
}

/* About  */

.about__right.col-7 {
  padding-left: 48px;
}

.about__right p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.about__right p:last-of-type {
  margin-top: 16px;
}

/* FEEDBACK */
.feedback .container-fluid {
  padding: 0;
}

.feedback .feedback__imgfood.col-6,
.feedback .feedback__content.col-6 {
  padding: 0;
}

.feedback__content {
  background-color: rgb(255 102 0);
}

.feedback__imgfood img {
  height: 100%;
}

.feedback__imgfood::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgb(16 15 19 / 46%);
}

.feedback__bg {
  margin: 48px;
  padding: 38px;

}

.feedback__content .title h6 {
  color: #fff;
  margin: 0;
}

.feedback__content .title h3 {
  margin: 0;
}

.feedback__content .title p {
  color: #ffdfc9;
  font-size: 18px;
  margin: 16px 0;
}

.feedback__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 48px;
}

.feedback .feedback__item a {
  font-size: 20px;
  display: block;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #232121;
}

.feedback__item p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
}

.feedback__item .icon {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 24px;
  cursor: pointer;
}

.feedback__item .icon i {
  color: rgb(255 102 0);
  font-size: 25px;
  line-height: 70px;
  transition: all 0.3s ease-in-out;
}

.feedback__item .icon:hover i {
  color: #f8b195;
}

/* CATEGORIES */
.caterories__content .title {
  text-align: center;
  padding: 30px 0;
}
.caterories__content .categories__item{
  margin: 15px 0;
}
.categories__itemimg img {
  max-width: 100%;
  position: relative;
  object-fit: cover;
  border-radius: 6px;
  transition: all .4s;
}
.categories__itemimg img:hover{
  opacity: 0.85;
}

.categories__price {
  left: auto;
  bottom: 12px;
  width: 92%;
  padding: 37px 37px 10px;
  position: absolute;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  border-radius: 6px;
}

.categories__price h4 {
  font-size: 22px;
  color: #fff;
  line-height: 30px;
  font-weight: 700;
}

.categories__price h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}

.categories__price span {
  font-weight: 600;
  color: rgb(234 184 19);
  font-size: 18px;
  letter-spacing: 1px;
}