/* GLOBAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Quicksand', sans-serif;
}

a,
a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.sectionmt {
  padding: 48px 0;
}

.title h6 {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: 'Pacifico', cursive;
}

.title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}


/* Light Theme */
#myBody {
  background-color: white;
}
#myCategories{
  background-color: rgb(247 247 248);
}

#switchButton {
  background-color: white;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: black;
  color: white;
}
.dark#myCategories{
  background-color: black;
}

.dark #switchButton {
  background-color: white;
}

.dark #switchButton .fa-sun {
  display: block;
  color: black;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .number {
  background-color: #232220;
}
.dark .item__text {
  background-color: #232220;
} 
.dark .blog {
  background-color: #232220;
}
.dark .item__text .counter {
  color: #eee;
}
.dark .card__background {
  background-color: #282828;
}
.dark .card {
  background-color: #282828;
}
.dark .card-title {
  color: #eee;
}
.dark .card-text {
  color: #c2d0da;
}
.dark .card-link{
 color: #eee;
}
.dark .read{
  color: #eee;
}
.dark .portcarousel {
  background-color: #232220;
}
.dark .portcarousel q {
  color:#eee ;
}
.dark .portcarousel p {
  color:#c2d0da ;
}
.dark .footer__main {
  background-color: #000000;
}

/* HEADER */
.header__banner {
  background-image: linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url(../img/banner1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: initial;
  min-height: 700px;
  background-attachment: fixed;
}

.header__centent {
  padding: 40px 0 20px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  grid-gap: 20px;
}

.header__right {
  display: grid;
  grid-template-columns: 1fr 0.5fr 0.5fr;
  gap: 15px;
  align-items: center;
}

h1 a.logo__diner {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search__bar {
  display: flex;
}

.search__relative {
  position: relative;
  flex: 1;
}

#home .form-control {
  box-shadow: none;
  border-color: transparent;
  padding: 10px 50px 10px 20px;
  height: 45px;
  font-size: 16px;
  color: rgb(22 28 45 / 70%);
  border: none;
  font-weight: 400;

}

.nav__bars-btn {
  height: 40px;
  width: 40px;
  color: #fff;
  font-size: 1.95rem;
  text-align: center;
  line-height: 40px;
  margin: 0;
}

.search__icon {
  position: absolute;
  right: 20px;
  font-size: 15px;
  top: 15px;
  cursor: pointer;
  color: rgb(91 96 108);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(6 3 0 / 77%);
  display: none;
  animation: menu linear 0.3s;
  transition: all 0.5s;
  z-index: 100;
}

.overlay__close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  background-color: #ff6600;
  border-radius: 5px;
  font-size: 18px;
}

.overlay nav {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay ul {
  display: block;
  height: 100%;
}

.overlay li {
  line-height: 48px;
}

.overlay ul li a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: block;
  transition: all 0.2s;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #ff6600;
}

.nav__input:checked~.overlay {
  display: block;
  animation: menu linear 0.3s;
}

@keyframes menu {
  0% {
    transform: scale(0.2);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.header__text {
  max-width: 600px;
  text-align: left;
  margin-top: 100px;
}

.header__text h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  color: #fff;
}

.header__text p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
}

.header__text button {
  padding: 15px 45px;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  font-weight: bold;
  transition: all .3s ease-in-out;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header__text button:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #ff6600;
}

.btn__white i {
  margin-left: 8px;
  font-weight: bold;
}

/* About  */

.about__right.col-7 {
  padding-left: 48px;
}

.about__right p {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

.about__right p:last-of-type {
  margin-top: 16px;
}

/* FEEDBACK */
.feedback{
  background-color: rgb(255 102 0);
}

.feedback__imgfood{
  background-image: url(../img/banner3.jpeg);
  min-height:600px ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.feedback__imgfood::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(16 15 19 / 46%);
}

.feedback__bg {
  padding: 48px;
}

.feedback__content .title h6 {
  color: #fff;
  margin: 0;
}

.feedback__content .title h3 {
  margin: 0;
}

.feedback__content .title p {
  color: #ffdfc9;
  font-size: 18px;
  margin: 16px 0;
}

.feedback__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 48px;
}

.feedback .feedback__item a {
  font-size: 20px;
  display: block;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 15px;
  color: #232121;
}

.feedback__item p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
}

.feedback__item .icon {
  display: block;
  width: 70px;
  height: 70px;
  line-height: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 24px;
  cursor: pointer;
}

.feedback__item .icon i {
  color: rgb(255 102 0);
  font-size: 25px;
  line-height: 70px;
  transition: all 0.3s ease-in-out;
}

.feedback__item .icon:hover i {
  color: #f8b195;
}

/* CATEGORIES */

.categories{
  background-color: rgb(247 247 248);
}
.caterories__content .title {
  text-align: center;
}
.caterories__content .categories__item{
  margin: 15px 0;
}
.categories__itemimg{
  position: relative;
}

.categories__itemimg img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  transition: all .4s;
  display: block;
}
.categories__itemimg img:hover{
  opacity: 0.85;
}

.categories__price {
  left: auto;
  bottom: 3%;
  width: 100%;
  height: 32%;
  padding: 50px 37px 10px;
  position: absolute;
  color: #fff;
  transform: translate3d(0, 10%, 0);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.53) 69%, rgba(0, 0, 0, 0.76) 100%);
  border-radius: 6px;
}

.categories__price h4 {
  font-size: 22px;
  color: #fff;
  line-height: 30px;
  font-weight: 700;
}

.categories__price h6 {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  opacity: 0.9;
}

.categories__price span {
  font-weight: 600;
  color: rgb(234 184 19);
  font-size: 18px;
  letter-spacing: 1px;
}

/* features */
.features__box{
  border: 1px solid #eee;
  padding: 40px 15px 40px 35px;
  margin: 15px 0;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
}
.features__box:hover .features__icon i{
  color: #fff;
}
.features__box:hover .features__icon{
  background-color:  rgb(255 102 0);
} 
.features__boxtop{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}
.features__boxbottom p{
  margin: 16px 0 0;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
}
.features__content h3{
  font-size: 24px;
  margin: 5px 0 0;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.features__content p{
  margin: 0;
  font-size: 18px;
}
.features__boxtop .features__icon{
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: rgb(130 115 252 / 5%);
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}
.features__boxtop .features__icon i{
  color: rgb(255 102 0);
  font-size: 25px;
  line-height: 70px;
  transition: all 0.3s ease-in-out;
}
.features__content:hover h3{
  color: rgb(255 102 0);
}

/*middle  */
.middle {
  background: url(../img/banner2.jpeg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
}

.middle:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}

.welcome-left {
  max-width: 700px;
  margin: 0 auto;
}

.welcome-left h3 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  color: #fff;
  max-width: 800px;
}

.welcome-left .sub-titlehny {
  color: #ddd;
}

.welcome-left span.watch {
  color: #eee;
  font-weight: 500;
  padding-left: 10px;
}

.welcome-left span.video-play-icon {
  background: rgba(255, 248, 248, 0.25);
  color: #fff;
  display: inline-block;
  padding-left: 5px;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;

}

.welcome-left span.video-play-icon:hover {
  background:#ff6600;
}

.welcome-left p {
  color: #eee;
  /* max-width: 800px; */
  margin: auto;
  margin-top: 15px;
  font-size: 18px;
  line-height: 30px;
}

.btn-style, .btn-white {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 6px;
  border: 2px solid transparent;
}
.btn-white {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}
.btn-primary {
  background: transparent;
  border: 2px solid #ff6600;
  background-color: #ff6600;
  color: #fff;
}
.btn-style:hover {
  border: 2px solid #fff;
  background-color: #fff;
  color:#ff6600;
}
.btn-primary:hover {
  background-color: rgba(255, 102, 0, 0.592);
  color: #eee;
  border: 1px solid #fff;
  
}

/* Number */
.number__background{
  
  margin-top: -145px;
  z-index: 10;
  position: relative;

}
.number__item i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  background-color: #ff6600;
  color: white;
  font-size: 25px;
}
.number__item p:first-of-type{
  font-size: 2.6em;
    font-weight: 600;
    color: #232121;
}
.number__item p:last-of-type {
  text-transform: capitalize;
  color: #a3a09f;
  font-weight: 600;
}
.number__content{
  color:#232121;
  text-align: center;
  margin-right: -15px;
  margin-left: -15px;
  display: flex;
  flex-wrap: wrap;
}
.number__item p:first-of-type{
  font-size: 2.6rem;
  font-weight: 600;
}
.number__item p:last-of-type{
  font-weight: 600;
}

.number__item{
  width: 25%;
  padding: 25px;
  transition: all .5s;
}
.item__text{
  height: 238px;
  background-color:#fff ;
  padding-top: 25px;
  border-radius: 6px;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;;
}
.number__item :hover {
  transform: translateY(-0.25rem);
}
/* BLOG */
.blog__title{
  text-align: center;
}
.blog__title h6{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: 'Pacifico';  
}
.blog__title h3{
font-size: 38px;
line-height: 48px;
font-weight: 600;
}
.blog {
  background-color: #f7f7f7;
}
.card {
  background-color: #f7f7f7;
  border: none;
}
.card-body #card__pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card-body {
padding: 15px 0;
}
.card-body a{
  text-decoration: none;
  font-weight: 700;
  color: #232121;
  font-size: 20px;

}

.card__content button {
  background: #ff6600;
  border: #ff6600 1px;
  color: #fff;
  padding: 3px 20px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
  display: inline-block;
  letter-spacing: .05em;
}

.card__picture{
  position: relative;
}
.card__content  {
 position: absolute;
 bottom: 0;
 margin: 0 5px;
 color: #eee;
 align-items: center;
 width: 100%;
}
.card-body .card-title a{
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
}

.read{
  margin-left: 1.25rem;
}

/*  TESTIMONIAL*/
.portcarousel__title {
  text-align: center;
}
.portcarousel__title p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico';  
}
.portcarousel__title h2{
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color:#a3a09f;
}
.carousel-indicators li.active{
  background-color: #ff6600;
}
.carousel-item .carousel__text  {
  color: #ff6600;
  font-size: 50px ;
  


}
.carousel-item q{
  font-size: 24px;
  line-height: 36px;
  color: #232121;
  font-weight: 600;
}
.carousel-item p {
  font-size: 18px;
  line-height: 28px;
  color: rgb(22 28 45 / 70%);
  font-family: 'Quicksand', sans-serif;
}
.carousel-item h3 {
  font-weight: 600;
  font-size: 20px;

}
.carousel-item img {
  width: 7%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
/* Footer */
.footer__main {
  background-color:#000;
}
.footer__item h2{
  font-size: 22px;
}
.footer__item p {
  color: #a3a09f;
  transition: all .5s;
}
.footer__item li {
  list-style: none;
}
.footer__item a{
  text-decoration: none;
  color: #a3a09f;
}
.footer__icon i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  border-radius: 10px;
  background-color: #fff;
  color: #ff6600;
  text-align: center;
  cursor: pointer;
  transition: all .5s;
  margin: 0 5px;
}
.footer__item input {
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
  margin: 5px 0;
}
.footer__item button {
  padding: 14px 20px;
  color:#fff;
  background-color: #ff6600;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  border: #ff6600 1px solid;
  line-height: 30px;
  font-weight: 700;

}
.item1 h2:hover {
  color: #ff6600;
  cursor: pointer;
}
.footer__icon i:hover {
  background-color: #ff6600;
  color: #fff;
}
.footer__bottom {
  display: flex;
  /* flex-wrap: wrap; */
  color: #a3a09f;
  justify-content: space-around;
}
.footer__bt {
  width: 50%;
}
.footer__bt a{
  text-decoration: none;
}
.bt1 a{
  color: #ff6600;
  cursor: pointer;
}
.bt1 a:hover{
  color: #fff;
}

.bt2 li{
  display: inline;
  list-style: none;
  color: #a3a09f;
}
.bt2 a{
  text-decoration: none;
  margin: 10px;
  cursor: pointer;
  transition: all .5s;
}
.bt2 li:hover {
  color: #ff6600;
}

/************** RESPONSIVE ***********/
@media (min-width: 1280px) {
  .container{
    max-width:1200px;
  }
}
@media screen and (max-width : 1190px) {
  .header__text h3{
    font-size: 48px;
    line-height: 58px;
  }
}
@media screen and (max-width: 992px) { 
  .feedback__imgfood{
    min-height: 200px;
  }
  .features__content h3{
    font-size: 20px;
  }
  .header__text h3{
    font-size: 44px;
    line-height: 53px;
  }
  .title h6{
    margin: 0;
  }
  .feedback__item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 10px;
    margin-top: 48px;
  }
  .feedback .feedback__item a {
    font-size: 18px;
  }
}
@media (max-width: 800px){
  .header__banner {
    min-height: 600px;
    margin-top: 60px;
  }
  .header__text h3{
    font-size: 40px;
    line-height: 50px;
  }

}
@media screen and (max-width: 767.98px) { 
  .title h3{
    font-size: 32px;
    line-height: 40px;
  }
  .title h6{
    margin: 0;
  }
  .about__right{
    margin-top: 16px;
  }
  .feedback__bg{
    padding: 16px;
  }
  .categories__price h4{
    font-size: 18px;
    line-height: 28px;
  }
  .categories__price span{
    font-size: 16px;
  }
  .categories__price{
    height: 40%;
  }
}
@media screen and (max-width: 600px) {
  .search__bar {
    display: none;
  }
}
@media screen and (max-width: 575.98px) { 
  .header__banner{
    min-height: 600px;
    margin-top: 60px;
  }
  .title h6{
    font-size: 16px;
    letter-spacing: .5px;
  }
  .title h3{
    font-size: 30px;
    line-height: 38px;
    margin-bottom: 24px;
  }
  .about__right p{
    font-size: 16px;
    line-height: 26px;
  }
  .feedback__imgfood{
    min-height: 200px;
  }
  .feedback__bg{
    padding: 16px;
  }
  .feedback__content .title p{
    font-size: 16px;
    margin: 16px 0;
  }
  .feedback__item{
    gap: 20px 10px;
  }
  .feedback .feedback__item a{
    font-size: 18px;
  }
  .feedback__item p{
    font-size: 16px;
    line-height: 26px;
  }
  
  .categories__price h4{
    font-size: 18px;
    line-height: 28px;
  }
  .categories__price h6{
    margin: 0;
   
  }
  .categories__price span{
    font-size: 16px;
  }
  .categories__price {
    bottom: 5%;
    height: 50%;
    padding: 50px 24px 10px;
    position: absolute;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    border-radius: 6px;

  }
  .features__content p{
    font-size: 16px;
  }
  .features__content h3{
    font-size: 20px;
  }
  .features__boxbottom p{
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
  }
  
}

@media screen and (max-width: 480px) {
  .header__text h3{
    font-size: 28px;
    line-height: 38px;
  }
  .header__text{
    max-width: 500px;
    margin-top: 30px;
  }
  .header__banner{
    min-height: 450px;
  }
  .categories__price {
    bottom: 5%;
    height: 55%;
    padding: 27px 24px 10px;
    position: absolute;
    color: #fff;
    transform: translate3d(0, 10%, 0);
    border-radius: 6px;
}
}
